{
  "id": "http://api.schemas.wrml.org/org/wrml/core/model/schema/Schema",
  "name": "Schema",
  "version": 1,
  "description": "A schema describes the structure of a model independent of its format. Schemas provide contractual resource type definitions, which are a crucial component of the interface that binds a server and its clients together.",
  "baseSchemaIds": [
    "http://api.schemas.wrml.org/org/wrml/core/model/Document"
  ],
  "constraints": [
    
  ],
  "fields": [
    {
      "type": "List",
      "constraints": [
        
      ],
      "defaultValue": null,
      "description": "The schema's base schemas. Schema extension allows a schema's forms to inherit the fields and links of its base schemas. Schema extension is analogous to the interface inheritance model offered by classical object-oriented programming languages like Java and C#.",
      "hidden": false,
      "name": "baseSchemaIds",
      "readOnly": false,
      "required": false,
      "title": "BaseSchemaIds",
      "local": false
    },
    {
      "type": "Text",
      "constraints": [
        
      ],
      "defaultValue": null,
      "description": "The description.",
      "hidden": false,
      "name": "description",
      "readOnly": false,
      "required": false,
      "title": "Description",
      "local": false
    },
    {
      "type": "List",
      "constraints": [
        
      ],
      "defaultValue": null,
      "description": "The schema's field definitions.",
      "hidden": false,
      "name": "fields",
      "readOnly": false,
      "required": false,
      "title": "Fields",
      "local": false
    },
    {
      "type": "Integer",
      "constraints": [
        
      ],
      "defaultValue": null,
      "description": "The Version.",
      "hidden": false,
      "name": "version",
      "readOnly": false,
      "required": false,
      "title": "Version",
      "local": false
    },
    {
      "type": "List",
      "constraints": [
        
      ],
      "defaultValue": null,
      "description": null,
      "hidden": false,
      "name": "constraints",
      "readOnly": false,
      "required": false,
      "title": "Constraints",
      "local": false
    }
  ],
  "links": [
    
  ]
}